* { margin: 0;
    border: 0;
    box-sizing: border-box
;
  
}
body {
    background-color: rgb(247, 246, 249);
}


.container {

    margin: 0 auto;

    font-family: 'Raleway', sans-serif;
   

 
  

}
.navbar{
   
    position:fixed;
    top: 50px;
    left: 50px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
  
}

.navbar a {  
     
     color: rgb(0, 0, 0);
     opacity: 0.7;
     
     
    margin-right: 20px;
}
a:visited {
    text-decoration: none;
}

a:link {
    text-decoration: none;

}
a:hover {
    text-decoration: underline;
   color: rgb(249, 1, 1);
}
 


.parallax {
    background: url('img/idea.jpg')no-repeat center;
    background-size: cover;
    background-attachment:fixed;
    height: 800px;

 


}



.menu {
    padding-top: 60px;
   
    
    

}
.menu p {
    line-height: 50px;
}
.presentation {
    
    padding-left: 50px;
  
    font-weight: 300;
    font-size: 26px;
   
  
}
.skill {
    text-align: center;
    margin-top: 150px;
}
.skill h1 {
    margin-bottom: 100px;
    font-weight: 600;
    font-size: 34px;
}

.skill p{
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 50px;
}
.formazione {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
 

}

.formazione h1{
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 100px;
  

}
    
    .formazione p {
    list-style-type: none;
    font-weight: 100;
    font-size: 26px;
    margin-bottom: 25px;
   

   
   
    
  
}

#grandezza {
  
    width: 80px;
    height: 53px;


}
#grandezza4{
    margin-left: 15px;
    width: 50px;
    height: 53px;
}
.pratiche {
    text-align: center;
    margin-bottom: 150px;
}
.pratiche h1 {
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 100px;
  

}






#grandezza1{
    margin: 40px;
    width: 90px;
    height: 80px;
}


#grandezza2{
    margin: 40px;
    width: 90px;
    height: 80px;
}
#grandezza3{
    margin: 40px;
    width: 90px;
    height: 80px;
}

.footer {
    height: 200px;
    background-color:rgb(247, 246, 249);
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}
.footer a {
    target='_blank';
}




#social1 {
    width: 60px;
    margin: 20px;
    
}

#social2, #social3 {

    width: 50px;
    margin: 20px;
    
}


