* { margin: 0;
    border: 0;
    box-sizing: border-box
;
  
}

body {
    font-family: 'Raleway', sans-serif;


}




.navbar_home { 
    width: 100%;
    z-index: 31;
    background-color: rgba(65, 81, 92, 0.9);
    position:fixed;
    padding: 10px;
    text-align: center;
    height: 40px;
    font-size: 1.125rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
  
}
.navbar_home a {  
    height: 10.71%;
color: rgb(255, 255, 255);    
margin-left: 1.428%; 
margin-right: 1.428%; 
}

.navbar_home a:visited {
   text-decoration: none;
}

.navbar_home a:link {
   text-decoration: none;

}

.navbar_home a:hover{
    color: rgb(247, 247, 2);
 

}



.parallax_box {
    position: relative;
    display: block;
    width: 100%;
    height: 90vh;
    overflow: hidden;
  
  
  }
  
.fix_box {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('asset/img/idea.jpg');
  }

  .intra_parallax {
    position: relative;
    z-index: 30;
    background-color: rgb(247, 246, 249, 0.8);
    color: #000000;
    min-height: 100vh;
    padding: 2.857%;
    text-align: center;
  }



  .wrapper {
  
    max-width: 67.142%;
    margin: 0 auto;
  }
  




.parallax p {
    line-height: 3.125em;
}
.presentation p{
    
    margin-left: 3.571%;
    margin-right: 3.571%;
  
    font-weight: 400;
    font-size: 1.625rem;
   
  
}
.skill {
    text-align: center;
    margin-top: 200px;
}
.skill h2 {
    margin-bottom: 100px;
    font-weight: 600;
    font-size: 2.125em;
}

.skill p{
    font-size: 1.625em;
    font-weight: 400;
    margin-bottom: 50px;
}
.formation {
    text-align: center;
    margin-top: 200px;
 

}

.formation h2{
    font-weight: 600;
    font-size: 2.125rem;
    margin-bottom: 100px;
  

}
    
    .formation p {
    margin-left: 3.571%;
    margin-right: 3.571%;

    font-weight: 400;
    font-size: 1.625em;
    margin-bottom: 25px;
}

#Start2impact {
  
    width: 80px;
    height: 53px;


}

#academic {
    width: 50px;
    height: 53px;
}
.competence {
    text-align: center;
    margin-top: 200px;
}
.competence h2 {
    font-weight: 600;
    font-size: 2.125em;
    margin-bottom: 100px;
  

}

#html_logo{
    margin: 40px;
    width: 90px;
    height: 80px;
}


#css_logo{
    margin: 40px;
    width: 90px;
    height: 80px;
}
#js_logo{
    margin: 40px;
    width: 90px;
    height: 80px;
}


.footer_big_home {
    text-align: center;
    position: relative;
    height: 10.71%;

}

.footer_big_home p {
    font-size: 25px;
    font-weight: bold;
    font-family:'Raleway', sans-serif; ;
    margin-bottom:1.428%;
   
}
.footer_home {
    margin-top: 14.28%;
    position: relative;
  
}

#linkedin_logo{
    
    width: 55px;
    margin: 10px;

   
    
}

#fb_logo {

    width: 70px;
    margin: 5px;

    
}
#twitter_logo {
    width: 53px;
    margin: 10px;

} 



.footer_home a {
    filter: grayscale(100%);
 }
 .footer_home a:hover {   
    filter: grayscale(0);
}

 /* aboutme.html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.bg_aboutme {
    background-image: radial-gradient( #ffffb7 0%, #a4afc7 100%);


}
.navbar_aboutme{
    position: sticky;
    top: 0;
    background-color:rgba(65, 81, 92, 0.9);
    padding: 10px;
    text-align: center;
    height: 40px;
    font-size: 1.125em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
  
}
.navbar_aboutme a {  
color: rgb(255, 255, 255);    
margin-left: 1.428%; 
margin-right: 1.428%;
}

.navbar_aboutme a:visited {
   text-decoration: none;
}

.navbar_aboutme a:link {
   text-decoration: none;

}

.navbar_aboutme a:hover{
    color: rgb(247, 247, 2);
 

}


.container_about {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10.71%;;
}

.container_about p {
    padding: 30px;
    font-size: 1.125rem;
    line-height: 1.625rem;
}
.container_about h2 {
    text-align: center;
    padding: 1.428%;
}
.container_about img {
    margin-top: 100px;
  
    width: 370x;
    height: 370px;
    padding: 30px;
}
.header {
    background-color:rgba(246, 245, 245, 0.205);
    width: 78.57%;
    max-width: 100%;
}
.header_contact h2 {
    font-size: 1.56rem;
}


.about {
   
    background-color: rgba(246, 245, 245, 0.205);
    font-weight: 500;
    width: 78.57%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.about p {
    width: 60%;
}



.description {
    background-color: rgba(246, 245, 245, 0.205);
    width: 78.57%;
    margin: 2.857%;
 
    
}

.footer_big_aboutme {
 
    text-align: center;
    position: relative;
    height: 10.71%;

    color: rgb(0, 0, 0);
}

.footer_big_aboutme p {
    font-size: 25px;
    font-weight: bold;
    font-family:'Raleway', sans-serif; ;
    margin-bottom: 2.857%;
    margin-top: 14.28%;
}
.footer_aboutme {

    margin-top: 10.714%;
  }
.footer_aboutme a {
    filter: grayscale(100%);
 }
 .footer_aboutme a:hover {   
    filter: grayscale(0);
 }

@media (max-width:1200px){
    .about {
        justify-content: center;
    }
   .about p {
       flex-basis: 100%;
   }
   .profile img {
    max-width: 100%;
    height: auto;
    width: 100%;
    }
   .container_about img {
    width: 450px;
    height: 450px;
    margin-top: 3.571%;
   }
 

}

@media (max-width:500px) {

    .profile img {
        max-width: 100%;
        height: auto;
        width: 300px;
        height: 300px;
       }


}

/* contact */

.bg_contact {
    background-image: radial-gradient( #ffffb7 0%, #a2afce 100%);

  


}


.navbar_contact {
    position: sticky;
    top: 0;
    background-color: rgba(65, 81, 92, 0.9);
    text-align: center;
    padding: 10px;
    height: 40px;
    font-size: 1.125em;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
  
    
  
}
.navbar_contact a {  
color: rgb(255, 255, 255);    
margin-left: 1.428%;
margin-right: 1.428%;
}

.navbar_contact a:visited {
   text-decoration: none;
}

.navbar_contact a:link {
   text-decoration: none;

}

.navbar_contact a:hover{
    color: rgb(247, 247, 2);
 

}


.header_contact {
    margin-bottom: 1,4285%;
    text-align: center;
    text-decoration: underline;


   
}

.container {
    display: flex;
    text-align: center;
    flex-direction: column;
    }
.email{
    margin: 30px;
}




#fromName {
 padding: 10px;   
 display: block;   
 height: 2.142%;
 margin-bottom: 1.428;
 
}
#msg {
    width: 100%;
    padding: 10px;
}
#msg:hover {
  background-color: rgba(246, 245, 245, 0.205);
  border:3px solid black;

}
#fromName:hover {
    background-color: rgba(246, 245, 245, 0.205);
    border:3px solid black;
  }


.form_control {
    border: 1px solid rgba(26, 26, 26, 0.529);
    margin-bottom: 20px;
    width: 50%;
    outline: none;

}
textarea {
    resize: vertical;
 

}
#button {

    margin: 0 auto;
    width: 30%;
    height:60px;
    border: 1px solid rgba(26, 26, 26, 0.529);
  background-color: rgb(255, 255, 255);
 


}


.sub_menu{
    
    background-color: rgba(247, 246, 249, 0.303);
    width: 50.00%;
    height: 50.00%;
    margin: 3.5718%;
   

  
}
.sub_menu h2{
    margin-left: 2.142% ;

}


.up_cellular {
    margin: 1.428%;
    margin-top: 3.571%;
 
}

#phone_img {
    max-width: 100%;
    width: 30px;
    margin: 0 auto;
    display: block;
    margin-bottom: 2.8571%;

    
}

.order {
    width: 80.57%;
    margin: 0 auto ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    margin-top: 150px;

   
}
.curriculum {
    background-color: rgba(247, 246, 249, 0.31);
    text-align: center;
    width: 28.57%;
    height: 14%;
    font-size: 1.312em;
    margin-top: 3.571%;
    margin-bottom: 1.428;
}
.curriculum a:visited {
    text-decoration: none;
 }
 
 .curriculum a:link {
    text-decoration: none;
 
 }
 
 .curriculum a:hover{
     color: rgb(0, 0, 0);
  
 
 }
 


.footer_big_contatti {
    margin-top: 7.142%;
    height: 10.71%;
    color: rgb(0, 0, 0);
}


.footer_contatti a {
    filter: grayscale(100%);
 }
 .footer_contatti a:hover {   
    filter: grayscale(0);
 }
 .work {
     text-align: center;
     margin-top: 100px;
 }

 .work img {
    margin: 0 auto;
    margin-top: 30px;
    display: block;
    max-width: 100%;
}

@media (max-width:769px) {

    .sub_menu {
        flex-basis: 100%;
        text-align: center;
     
    }
    .order {
        justify-content: center;
    }
    .curriculum {
        margin-top: 150px;
        width: 400px
      
    }
  
   
}




